<div class="container">
<legend> MY INFO</legend>
<fieldset>
<!-- <fieldset ng-controller = "MyInfoController as myInfo"> -->

  <span ng-if="myInfo.IsEmpty()"><h4>Not Signed Up Yet.
    <a ui-sref="public.signup"> Sign up Now!</a></h4></span>
<ul ng-if="!myInfo.IsEmpty()" class="list-group" id = "myInfoList">;
  <li class="list-group-item">First Name: {{myInfo.persons[0].name}} </li>
  <li class="list-group-item">Last Name: {{myInfo.persons[0].lastname}}</li>
  <li class="list-group-item">Email: {{myInfo.persons[0].email}}</li>
  <li class="list-group-item">Phone: {{myInfo.persons[0].phone}}</li>
  <li class="list-group-item">Favorite Menu Item: {{myInfo.persons[0].favitem}}</li>
</ul>

<div ng-if="myInfo.IsEmpty()"  class="card">
  <img src = "https://son-angular-mod5.herokuapp.com/images/{{myInfo.persons[0].favitem}}.json">
  <div class="card-body">
    <h5 class="card-title">{{myInfo.item.name}}
    <span class="badge rounded-pill" id = "badge">{{myInfo.persons[0].favitem}}</span>
    </h5>
    <p class="card-text">{{myInfo.item.description}}</p>
  </div>
</div>
</fieldset>

</div>
