<div class="container">
<legend> SIGN UP FORM</legend>
<!-- <fieldset ng-controller = "SignUpController as signup"> -->
<fieldset>
<form name = "signUpForm" novalidate>
  <input type="text" name="name"
  placeholder="Your First Name"
  ng-model = "signup.name"
  required>
    <span
    ng-if = "signUpForm.name.$error.required && signUpForm.name.$touched">
    First Name is required!
    </span>
  <br>
  <input type="text" name="lastname"
  placeholder="Your Last Name"
  ng-model = "signup.lastname"
  required>
    <span
    ng-if = "signUpForm.lastname.$error.required && signUpForm.lastname.$touched">
    Last Name is required!
  </span>
  <br>
  <input type="email" name="email" placeholder="Email"
  ng-model="signup.email"
  required>
    <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched
    || signUpForm.email.$error.pattern">
      Must be a valid email address: handle@domain format
    </span>
  <br>
  <input type="text" name="phone" placeholder="Phone ###-###-####"
  ng-model="signup.phone"
  pattern="(\d{3})-(\d{3})-(\d{4})"
  required>
    <span ng-if="signUpForm.phone.$invalid && signUpForm.phone.$touched
    || signUpForm.phone.$error.pattern">
      Phone must be in the format ###-###-####.
    </span>
  <br>
  <input type="text" name="favitem" placeholder="Your Favorite Menu Number (e.g. L4)"
  ng-model="signup.favitem"
  pattern="[A-Z]{1,2}\d{1,2}\b"
  required>
  <span
  ng-if = "signUpForm.favitem.$error.required &&
  signUpForm.favitem.$touched || signUpForm.favitem.$error.pattern">
  Try another BLOCK letter (max 2) and figure (1-99)
  </span>
  <br>
  <div ng-if="signup.error">
  No such menu number exists!
  </div>


  <button ng-disabled="signUpForm.$invalid"
  ng-click = "signup.submit();">
     SUBMIT
  </button>
</form>

<div class="regresult" ng-if="signup.completed">
  Your information has been saved!
</div>
</fieldset>
</div>
